@model ParkingManagement.Core.Model.HomePage

@{
    ViewBag.Title = "LotteryList";
}

<h4>Request List</h4>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Duration</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Preference 1</th>
            <th>Preference 2</th>
            <th>Preference 3</th>
            <th>Cancel</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                        },
                        {
                            data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                        ]
            });

    </script>
}

